body {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

.product {
  border: 2px solid black;
  width: 40vw;
  padding: 1rem;
}
